<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.saul.dao.WorkOrderMapper">
    <select id="workOrderList" resultType="java.util.Map">
        SELECT
            owo.work_order_id,
            owo.add_user_id,
            owo.car_num carNum,
            owo.person_id,
            date_format( owo.add_time, '%Y-%m-%d %H:%i:%s' ) addTime,
            date_format( owo.finish_time, '%Y-%m-%d %H:%i:%s' ) finishTime,
            owo.status,
            owo.charing_station_id,
            u.userName,
            p.wx_name wxName,
            bcs.chargingStationName
        FROM
            operate_work_order owo
            LEFT JOIN auth_user u ON u.id = owo.add_user_id
            LEFT JOIN person p ON p.person_id = owo.person_id
            LEFT JOIN battery_charging_station bcs ON bcs.chargingStationId = owo.charing_station_id
            WHERE owo.STATUS = 1
            <if test="startDate != null and startDate !=''">
                <![CDATA[  and DATE_FORMAT(owo.add_time, '%Y-%m-%d') >=
                DATE_FORMAT(#{startDate,jdbcType=VARCHAR}, '%Y-%m-%d')   ]]>
            </if>
            <if test="endDate!=null and endDate !='' ">
                <![CDATA[  and DATE_FORMAT(owo.add_time, '%Y-%m-%d') <=
                DATE_FORMAT(#{endDate,jdbcType=VARCHAR} , '%Y-%m-%d') ]]>
            </if>
        ORDER BY
            add_time DESC
    </select>
</mapper>
